<h1>面接一覧</h1>
<p class="confirmed_interview_day">現在の設定済みの面接日程:
  <strong><%if @confirmed_interview %>
    <%=@confirmed_interview.scheduled_at.strftime("%Y年%-m月%-d日 %-H時%-M分")%>
  <%end%>
  </strong>
</p>
<table border="1">
  <!--ログインユーザーと同じユーザーの面接一覧を見ている場合の表示-->
  <% if current_user == @user %>
    <%=render :partial => "index_for_login_user"%> 
  <!--ログインユーザーが別のユーザーの面接一覧を見ている場合の表示-->
  <%else %>
    <%=render :partial => "index_for_other_user"%>
    
  <%end%>
</table>
